:root {
  --bg-color: #b5b6b61c;
  --blue: #013CC6;
  --border: #c7ccd172;
}

body {
  font-family: 'Poppins', sans-serif;
}

.logo {
  color: var(--blue);
  font-weight: 600;
}

.search-icon {
  background-color: white;
}

.search-box {
  position: relative;
  top: 1em;
  height: 3.em;
}

.right-portion {
  background-color: var(--bg-color);
}

.sidebar-icon {
  margin-right: 12px;
}

.active-line {
  position: relative;
  right: 2.5em;
}

.search-bar {
  border-left: none;
  border-radius: 4px;
  color: #ADA7A7;
  font-weight: 400;
}

.search-bar:focus {
  box-shadow: none !important;
  border-color: var(--border) !important;
}

.inp-placeholder {
  height: 3em;
  border-radius: 4px;
}

.spaced-table {
  background-color: white;
  border-collapse: separate;
  border-radius: 5px;
  margin-bottom: 30px;
}

.spaced-table th,
.spaced-table td {
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
  border-color: var(--border);
}